
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
}
body{
    background-image: url('backgroundImage.jpg');
    z-index: 1;
}
.card{
    width: 1000px;
    background-color: white;
    margin: auto;
    z-index: 2;
    
}
.homePageText{
    font-family: 'Garamond',serif;
    color: #FFE400;
    size: 60px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 5;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color:#272727;
    z-index: 3;
    
}

.inner-header{
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color:#272727;
    padding-bottom: 15px;
    margin-left: 50px;
    z-index: 4;
}
.logo-container{
    height: 100%;
    display: table;
    float: left;
    padding-left: 100px;
    padding-top: 10px;
    z-index: 5;
}
.text-container{
    padding-left: 10px;
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Garamond', serif;
    font-size: 32px;
    font-weight: 200;
    padding-right: 50px;
    z-index: 5;
}
.text-container h1 span{
    font-weight: 800;
    z-index: 5;
}

.fa {
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    z-index: 5;
}
.fa fa-envelope{
    vertical-align: bottom;
    padding-top: 55px;
    text-decoration: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 10px;
    padding-left: 5px;
    text-decoration: none;
    
}
.glyphicon{
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    z-index: 5;
}
.glyphicon:hover{
    color: #FF652F;
    text-decoration: none;
}

  
.fa:hover {
    color: #FF652F;
    text-decoration: none;
}
  
.fa-facebook {
    vertical-align: bottom;
    padding-top: 55px;
    text-decoration: none;
    text-decoration: none;
}


.nav{
    text-align: center;
    padding-top: 18px;
    background: #272727;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-left: 100px;
    margin-top: 10px;
    width: 750px;
    height: 100%; 
    z-index: 4;
}
.nav-item{
    font-family: 'Garamond',serif;
    z-index: 5;
}
.nav-link{
    color: #FFE400;
    height: 100%;
    display: table;
    padding: 0px 20px;
    z-index: 6;
}



ul.nav  a:hover{
    color: #272727;
}
.nav-item a:hover{
    background-color: #747474;
}
.nav-link a:hover{
    text-decoration: none;
    background-color: #747474;
}




.carousel{
    background: #272727;
    margin-top: 20px;
    height: 405px;
    width: 800px;
    margin: auto;
    border-style: solid;
    z-index:  5;
}
.container-lg my-3{
    border-style: solid;
    border-top: #FFE400;
    border-left: #FFE400;
    border-bottom: #FFE400;
    border-right: #FFE400;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}


.card{
    width: 1000px;
    background-color: white;
    margin: auto;
    
}
.footer{
    padding: 20px;
    text-align: center;
    background: #272727;
    color: #FF652F;
    margin-top: 20px; 
    width: 1000px;
    margin: auto;
    
}
.addressHover a{
    color: #FF652F;
    text-decoration: none;
}
.addressHover a:hover{
    color: #FFE400;
    text-decoration: none;
}


.overlay{
    height: 0%;
    width: 100%;
    position:fixed;
    z-index: 1000;
    top:0;
    left: 0;
    text-decoration: none;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.9);
    overflow-y: hidden;
    transition:0.5s;
}
.overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFE400;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus{
    color: #FF652F;
    text-decoration: none;
}
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 450px) {
    .card{
        width: 100%;
        height: 100%;
        margin:0;
    }
    .header{
        width: 100%;
        margin-left: 0px;
    }
    .nav{
        display: none;
    }
    
    .inner-header{
        width:100%;
        margin-left: 0px;   
        margin-top: 0px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .logo-container{
        height: 100px;
        width: 33%;
        margin-left: 0px;
        padding-left: 0;
        float: left;
        
    }
    .container-lg my-3, .carousel, .carousel-inner, .carousel-item{
        display:none;
    }
    .text-container, .text-container h1 span{
        font-size: 25px;
        font-weight: 100;
        width: 33%;
        padding-top: 0px;
        margin-top: 0px;
        padding-left: 10px;
        
    }
    .leftcolumn, .rightcolumn{
        width: 100%;
        padding: 0;
    }
    .leftcolumn{
        padding-right: 15pxv    ;
    }
    .memberText{
        padding-right: 20px;
    }
    
    .footer{
        width: 100%;
    }
    


    
}

@media screen and (max-width: 1000px) {
    .card{
        width: 100%;
        margin:0;
    }
    .header{
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    .nav{
        display: none;
    }
    
    .inner-header{
        width:100%;
        height: 100%;
        margin-left: 0px;   
        margin-top: 0px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .logo-container{
        height: 100px;
        width: 33%;
        margin-left: 0px;
        padding-left: 0;
        float: left;
        
    }
    
    .text-container, .text-container h1 span{
        padding-left: 10px;
        color: white;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-family: 'Garamond', serif;
        font-size: 32px;
        font-weight: 200;
        padding-right: 50px;
        z-index: 5;
        
    }
    .container-lg my-3, .carousel, .carousel-inner, .carousel-item{
        width: 100%;
        display: inline-flexbox;

    }
    .leftcolumn, .rightcolumn{
        width: 100%;
        padding: 0;
    }
   
    .footer{
        width: 100%;
    }
    


    
}
@media screen and (min-width: 1000px) {
    .nav{
        display: inline-flexbox;
    }
    .overlay{
        display:none;
    }
    .icon{
        display: none;
    }
    
    
    


    
}
.memberText{
    font-family: 'Garamond',serif;
    color: #FFE400;
    size: 60px;
    padding-left: 35px;
    padding-right: 30px;
    z-index: 5;
    float: left;
}

.leftcolumn{
    float:left;
    width: 60%;
   
    background-color: var(--main-bg-color);
    
}

.rightcolumn{
    float: left;
    width: 40%;
    background-color: var(--main-bg-color);
    padding-left: 20px;
    padding-right: 100px; 
    padding-top: 25px;   
}

.row::after{
    content: "";
    padding: 20px;
    display: table;
    clear: both;
}
.column {
    margin: auto;
    padding-top: 15px;
    padding-right: 5px;
    text-align: center;
    float: left;
    width: 15%;
    height: 100%;
    padding: 5px;
  }