
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}
body{
    background-image: url('backgroundImage.jpg');
}
.homePageText{
    font-family: 'Garamond',serif;
    color: #FFE400;
    size: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color:#272727;
    
}

.inner-header{
    width: 750px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color:#272727;
    padding-bottom: 15px;
    margin-left: 50px;
}
.logo-container{
    height: 100%;
    display: table;
    float: left;
    padding-left: 100px;
    padding-top: 10px;
}
.text-container{
    padding-left: 10px;
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Garamond', serif;
    font-size: 32px;
    font-weight: 200;
    padding-right: 50px;
}
.text-container h1 span{
    font-weight: 800;
}

.fa {
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}
.fa fa-envelope{
    vertical-align: bottom;
    padding-top: 55px;
    text-decoration: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 10px;
    padding-left: 5px;
    text-decoration: none;
    
}

  
.fa:hover {
    color: #FF652F;
    text-decoration: none;
}
  
.fa-facebook {
    vertical-align: bottom;
    padding-top: 55px;
    text-decoration: none;
    text-decoration: none;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.nav{
    text-align: center;
    padding-top: 18px;
    background: #272727;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-left: 90px;
    margin-top: 10px;
    width: 750px;
    
    
}
.nav-item{
    font-family: 'Garamond',serif;
    
}
.nav-link{
    color: #FFE400;
    border-right: #FF652F;
}



ul.nav  a:hover{
    color: #272727;
}
.nav-item a:hover{
    background-color: #747474;
}
.nav-link a:hover{
    text-decoration: none;
    background-color: #747474;
}



.carousel{
    background: #272727;
    margin-top: 20px;
    height: 405px;
    width: 800px;
    margin: auto;
    border-style: solid;
}
.container-lg my-3{
    border-style: solid;
    border-top: #FFE400;
    border-left: #FFE400;
    border-bottom: #FFE400;
    border-right: #FFE400;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}


.card{
    width: 1000px;
    background-color: white;
    margin: auto;
    
}
.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px; 
    width: 1000px;
    margin: auto;
    
}
